@model Hospital.Core.Patients.Models.PatientDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doctors)
        </dt>
        <dd>
            <p>
                @Html.ActionLink("Add New", "AddDoctor", "Doctors", new { id = Model.Id }, null)
            </p>
            @{
                Html.RenderPartial("_DoctorsPartial", Model.Doctors);
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diseases)
        </dt>
        <dd>
            @{
                Html.RenderPartial("_DiseasesPartial", Model.Diseases);
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
