@model IEnumerable<Hospital.Core.Diseases.Models.DiseaseDto>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
         
        <th>
            @Html.DisplayNameFor(model => model.ProfileName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.StartAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndAt)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartAt)
        </td>
        <td>
            @if (!item.EndAt.HasValue)
            {
                @Html.TextBoxFor(model => item.EndAt)
            } else
            { 
                @Html.DisplayFor(modelItem => item.EndAt)
            }
        </td>
        <td>
            @if (!item.EndAt.HasValue)
            {
                @Ajax.ActionLink("Close", "Close", "Diseases", new { id = item.Id  },  new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "diseases" }, new { });
            }
        </td>
    </tr>
}

</table>
