@model IEnumerable<Hospital.Core.Diseases.Models.DiseaseDto>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (ViewData["IsDoctorPage"] != null)
        {
            <th>
                @Html.DisplayName("Patient name")
            </th>
        }
        else
        {
            <th>
                @Html.DisplayName("Doctor name")
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.StartAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndAt)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAt)
            </td>
            @if (!item.EndAt.HasValue && ViewData["IsDoctorPage"] != null)
            {
                <td id="disease_@item.Id">
                    @Ajax.ActionLink("Close", "Close", "Diseases", new { id = item.Id, doctorId = Url.RequestContext.RouteData.Values["id"] }, new AjaxOptions { UpdateTargetId = "disease_"+@item.Id, HttpMethod = "get", InsertionMode = InsertionMode.Replace, Confirm = "Do you want to close disease?" }, null)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.EndAt)
                </td>
            }
        </tr>
    }
</table>
