@model IEnumerable<Hospital.Core.Patients.Models.PatientDto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details","Patients", new { id=item.Id }, null) |
            @Html.ActionLink("Add Disease", "AddDisease", new { patientId = item.Id, doctorId = Url.RequestContext.RouteData.Values["id"] }) |
            @Ajax.ActionLink("Remove", "Remove", new { patientId=item.Id, doctorId = Url.RequestContext.RouteData.Values["id"] }, new AjaxOptions { HttpMethod = "Post", Confirm = "Do you want to remove patient?", InsertionMode = InsertionMode.Replace, UpdateTargetId = "patients" }) 
            
        </td>
    </tr>
}

</table>
